{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/admin/articles.css') }}">
    {# templates/new_post.html.twig #}
    {# Javascript Block #}
    <script src="{{ asset('JS/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('JS/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center ">
            <div class="col-sm-4 col-4 col-md-3 col-lg-auto">
                <div class="row">
                    <div class="col-sm-4 col-4 col-md-2 col-lg-2">
                        <img src="{{ asset('images/admin/compte.png') }}" alt="Bootstrap" class="img-fluid img-responsive logo">
                    </div>
                    <div class="col-sm-4 col-4 col-md-10 col-lg-10">
                        <h1>Gestion du compte</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 d-flex justify-content-between username">
                <div class="col-md-4 col-lg-4 d-flex align-items-center">
                    <p>Bonjour, <span class="font-weight-bold">{{ app.user.firstname }} {{ app.user.lastname }}</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 container_own_article">
                <h3 class="text-center">Informations compte</h3>
                <div class="row d-flex justify-content-between">
                    <div class="offset-md-1 offset-lg-1 col-md-5 col-lg-5">
                        {{ form_start(form) }}
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-md-5 col-lg-5">
                        {{ form_row(form.category) }}
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 mt-3">
                        {{ form_row(form.content) }}
                    </div>
                    <div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 mt-3">
                        {{ form_row(form.Ajouter) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}