<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/admin/base_admin.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <!-- Nav -->
    <div class="row">
        <div class="col-lg-2">
            <img src="#">
        </div>
        <div  class="col-lg-8">
            <nav id="nav">
                <ul>
                    <li><a href="{{ path('dashboard') }}">Accueil</a></li>
                    <li><a href="{{ path('articles') }}">Articles</a></li>
                    <li><a href="{{ path('compte') }}">Compte</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="#">Admin comptes</a></li>
                    {% endif %}
                    <li><a href="{{ path('logout') }}">Deconexion</a></li>
                </ul>

            </nav>
        </div>
        <div class="col-lg-2">
            <p>logo</p>
        </div>

    </div>
</header>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
<script src="{{ asset('JS/bootstrap.js') }}"></script>

</body>
</html>
