{% extends "admin/base.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('CSS/admin/dashboard.css') }}">
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row d-flex justify-content-center">
			<div>
				<img src="images/admin/logo_dashboard.jpg" alt="Bootstrap" class="img-fluid img-responsive logo">
			</div>
			<div class="col-sm-3 col-3 col-md-1 col-lg-1 text-center">
				<h1>Dashboard</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 username">
				<div class="col-md-4 col-lg-4">
					<p>Bonjour, <span class="font-weight-bold">{{ app.user.firstname }} {{ app.user.lastname }}</span></p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div>
				<img src="images/admin/icone_article.png" alt="Bootstrap" class="img-fluid img-responsive logo">
			</div>
			<div class="col-md-12 col-lg-12 text-center title">
				<h3>Vos derniers articles :</h3>
			</div>
			<div class="row">
				<div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 container_own_article">
                    {% for article in own_articles %}
						<div class="row d-flex justify-content-between title_article">
							<div class="col-md-8 col-lg-8">
								<h5>{{ article.title }}</h5>
							</div>
							<div class="col-md-2 col-lg-2">
								<p>{{ article.date|date('d-m-Y') }}</p>
							</div>
						</div>
						<div class="row content_article">
							<div class="col-md-12 col-lg-12">
								<p>{{ article.content|striptags|slice(0, 300)|raw }}...</p>
							</div>
						</div>
						<div class="row text-right">
							<div class="col-md-12 col-lg-12 button">
								<a href="{{ path('update_article', {'id': article.id}) }}">
									<button class="btn btn-secondary">Editer article</button>
								</a>
							</div>
						</div>
                    {% endfor %}
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div>
				<img src="images/admin/icone_article.png" alt="Bootstrap" class="img-fluid img-responsive logo">
			</div>
			<div class="col-md-12 col-lg-12 text-center title">
				<h3>Les derniers articles publiés :</h3>
			</div>
			<div class="row">
				<div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 h-auto container_other_article ">
                    {% for article in other_articles %}
						<div class="row d-flex justify-content-between title_article">
							<div class="col-12 col-md-8 col-lg-8">
								<h5>{{ article.title }}</h5>
							</div>
							<div class="col-md-2 col-lg-2">
								<p>{{ article.date|date('d-m-Y') }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<p>{{ article.author.firstname }} {{ article.author.lastname }}</p>
							</div>
						</div>
						<div class="row content_article">
							<div class="col-12">
								<p>{{ article.content|striptags|slice(0, 300)|raw }}...</p>
							</div>
						</div>
						<div class="row text-right">
							<div class="col-12 button">
								<a href="{{ path('article_page', {'id': article.id}) }}">
									<button class="btn btn-secondary">Lire article</button>
								</a>
							</div>
						</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
