<div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 container_other_article">
    <h3 class="text-center">Tous les articles</h3>
    {% if other_articles is defined %}
        {% for article in other_articles %}
            <div class="row d-flex justify-content-between title_article">
                <div class="col-md-2 col-lg-2">
                    <h5>{{ article.title }}</h5>
                </div>
                <div class="col-md-2 col-lg-2">
                    <p>{{ article.date|date('d-m-Y') }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 content_article">
                    <p>{{ article.content|striptags|slice(0, 300)|raw }}...</p>
                </div>
            </div>
            <div class="row d-flex justify-content-end ">
                <a href="{{ path('article_page', {'id': article.id}) }}">
                    <button class="btn btn-primary button">Lire</button>
                </a>
                <a href="{{ path('update_article', {'id': article.id}) }}">
                    <button class="btn btn-light button">Editer</button>
                </a>
                <a href="{{ path('delete_article', {'id': article.id}) }}">
                    <button class="btn btn-danger button">Supprimer</button>
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
