<!DOCTYPE html>
<html>
<head>
    <meta name="Keywords" content="Cocorico Digital Agence Web Multimedia">
    <meta name="Subject" content="Cocorico Digital">
    <meta name="Author" content="Cocorico Digital">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131010788-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131010788-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/base.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div role="navigation">
    <header>
        <div class="row d-flex align-items-start " id="header-main">
            <!-- Logo -->
            <div class="row col-12 d-lg-none">
                <div class="order-1 order-lg-0 col-auto col-10 col-lg-2 text-center text-lg-left" id="logo-nav">
                    <a href="{{ path('home_page') }}"><img src="{{ asset('images/logo-small-color-svg.svg') }}"
                                    alt="Logo de cocorico agence digitale" width="115px"></a>
                </div>
                <!-- Nav -->
                <nav class=" order-0 col-md-1 col-1 navbar navbar-expand-lg navbar-light text-left ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
            <div class="order-1 order-lg-0 col-auto col-10 col-lg-2 text-center text-lg-left d-none d-lg-inline-block"
                 id="logo-nav">
                <a href="{{ path('home_page') }}"><img src="{{ asset('images/logo-small-color-svg.svg') }}" alt="Logo de cocorico agence digitale"
                                                       width="115px"></a>
            </div>
            <div class="order-lg-1 col-lg-8 col-12 pl-0 pr-0" id="div-nav">
                <nav class="navbar navbar-expand-lg navbar-light text-left ">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto col-12">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('home_page') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('catalog_page') }}">Nos services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('reference_page') }}">Nos clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('blog_page') }}">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('propos_page') }}">A propos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact_page') }}">Nous contacter</a>
                            </li>
                            <li class="nav-item d-lg-none">
                                <a class="nav-link mr-0" href="https://www.linkedin.com/company/cocorico-digital?trk=d_public_post_follow_view_profile"><img
                                            src="{{ asset('images/social/linkedin-logo-bleu.svg') }}"
                                            class="social"
                                            alt="logo linkedin"></a>
                                <a class="nav-link mr-0" href="https://www.facebook.com/Cocorico-Digital-435675233930398/?modal=admin_todo_tour"><img
                                            src="{{ asset('images/social/facebook-logo-bleu.svg') }}"
                                            class="social"
                                            alt="logo facebook"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="order-lg-3 col-auto align-self-center ml-auto p-2 bd-highlight d-none d-lg-block">
                <a href="https://www.linkedin.com/company/cocorico-digital?trk=d_public_post_follow_view_profile"><img src="{{ asset('images/social/linkedin-logo-bleu.svg') }}" class="social"
                        alt="logo linkedin"></a>
                <a href="https://www.facebook.com/Cocorico-Digital-435675233930398/?modal=admin_todo_tour"><img src="{{ asset('images/social/facebook-logo-bleu.svg') }}" class="social"
                        alt="logo facebook"></a>
            </div>
        </div>
    </header>
</div>

{% block body %}{% endblock %}

<div class="container-fluid">
    <div class="row" id="pre-footer">
        <div class="col-12 align-self-center">
            <h2 class="text-center margin-auto">Un projet ?</h2>
        </div>
        <div class="offset-sm-4 offset-2 col-8 col-sm-4 text-center">
            <p>Allez-y contactez-nous, c'est peut-être cette décision qui emplifira votre visibilité digital. Notre expertise 100% française ne vous décevra pas!  </p>
            <p>Et vous savez ? C'est totalement gratuit !</p>
        </div>
        <div class="col-12 align-self-top text-center">
            <a href="{{ 'contact' }}">
            <button class="margin-auto">Nous contacter</button>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <!-- start desktop display -->
    <div class="row d-flex justify-content-between display_desktop mr-0">
        <div class="col-auto pr-0 display_desktop">
            <h5 class="mb-0">Nous contacter</h5>
        </div>
        <div class="col-auto d-flex align-items-start p-0 display_desktop">
            <ul class="p-0 display_desktop">
                <li class="br text-left"><a class="m-0 tel" href="tel:+44345678903">+44 345 678 903</a></li>
                <li class="br text-left">cocorico-digital@mail.com</li>
                <li>
                    <address class="br text-left">
                        12, Avenue de Renard, 87270
                        <div class="text-center"> Thibault-sur-Lacombe</div>
                    </address>
                </li>
            </ul>
        </div>
        <div class="col-auto p-0 display_desktop">
            <h5 class="mb-0">Navigation</h5>
        </div>
        <div class="col-auto p-0 display_desktop">
            <div class="col-auto d-flex align-items-start p-0 display_desktop">
                <nav id="nav">
                    <ul class="p-0">
                        <li><a href="{{ path('home_page') }}">Accueil</a></li>
                        <li><a href="{{ path('catalog_page') }}">Nos services</a></li>
                        <li><a href="{{ path('reference_page') }}">Nos clients</a></li>
                        <li><a href="{{ path('blog_page') }}">Blog</a></li>
                        <li><a href="{{ path('propos_page') }}">A propos</a></li>
                        <li><a href="{{ path('contact_page') }}">Nous contacter</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-auto display_desktop p-0">
            <h5 class="mb-0">Blog</h5>
        </div>
        <div class="col-lg-2 col-md-2 pr-0 pl-0 display_desktop">
            <p id="link_blog"><a href="{{ 'blog' }}">Retrouvez tous nos conseils et astuces pour devenir un pro du digital !</a></p>
        </div>
        <div class="row col-2 mr-xl-5 d-lg-inline-flex p-0 mr-0 display_desktop">
            <div class="col-12 text-right pr-0">
                <a href="https://www.linkedin.com/company/cocorico-digital?trk=d_public_post_follow_view_profile"><img src="{{ asset('images/social/linkedin-logo-blanc.svg') }}" class="social" alt="logo linkedin"></a>
                <a href="https://www.facebook.com/Cocorico-Digital-435675233930398/?modal=admin_todo_tour"><img src="{{ asset('images/social/facebook-logo-blanc.svg') }}" class="social" alt="logo facebook"></a>
            </div>
            <div class="col-12 text-right align-self-end p-0 display_desktop">
                <p id="copyright">&copy; Cocorico Digital - 2018</p>
            </div>
        </div>
    </div>
    <!-- end desktop display -->
    <!-- start mobile display -->
    <div class="row d-flex align-items-center flex-column bd-highlight d-lg-none">
        <div class="p-2 bd-highlight text-left d-lg-none">
            <div class="col-auto d-lg-none p-0">
                <h5 class="mb-0 ">Nous contacter</h5>
            </div>
            <div class="col-auto d-flex align-items-start p-0 d-none d-lg-none">
                <ul class="p-0 d-lg-none">
                    <li class="br text-left"><a class="m-0 tel" href="tel:+44345678903">+44 345 678 903</a></li>
                    <li class="br text-left">cocorico-digital@mail.com</li>
                    <li>
                        <address class="br text-left">
                            12, Avenue de Renard, 87270
                            <div class="text-left"> Thibault-sur-Lacombe</div>
                        </address>
                    </li>
                </ul>
            </div>
            <div class="col-12 text-center pl-0 pr-0">
                <a href="https://www.linkedin.com/company/cocorico-digital?trk=d_public_post_follow_view_profile"><img src="{{ asset('images/social/linkedin-logo-blanc.svg') }}" class="social" alt="logo linkedin"></a>
                <a href="https://www.facebook.com/Cocorico-Digital-435675233930398/?modal=admin_todo_tour"><img src="{{ asset('images/social/facebook-logo-blanc.svg') }}" class="social" alt="logo facebook"></a>
            </div>
            <div class="col-12 text-center d-lg-none pl-0 pr-0 pt-3">
                <p id="copyright">&copy; Cocorico Digital - 2018</p>
            </div>
        </div>
    </div>
    <!-- end mobile display -->
</footer>

{% block javascripts %}{% endblock %}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="{{ asset('JS/bootstrap.js') }}"></script>
</body>
</html>
