{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('CSS/catalog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid page-content">
        <header>
            <div class="row justify-content-around margin-auto">
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ asset('images/home-intro.jpg') }}" class="img-fluid img-round">
                </div>
                <div class="col-xs-12 col-lg-5 justify-content-around">
                    <div class="row col-xs-6">
                        <img src="{{ asset('images/logoH1/blog.svg') }}" class="h1">
                        <h1>Nos services</h1>
                    </div>
                    <div class="row col-xs-6">
                        <h2>A Subtitle</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo felis
                            turpis, sit amet rhoncus augue fringilla aliquam. Duis eleifend massa non quam molestie
                            dictum.</p>
                    </div>
                </div>
            </div>
        </header>

        <div class="row">
            <div class="row col-12 margin-auto">
                <h4>Nos packs</h4>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-12 col-lg-12 white">
                    <div class="col-md-12 col-lg-12 center">
                        <h1>Basic</h1>
                        <h4>500€</h4>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-12 col-lg-12">
                            <table>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <a href="#">
                            <button>Button</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-12 col-lg-12 white">
                    <div class="col-md-12 col-lg-12 center">
                        <h1>Premium</h1>
                        <h4>1000€</h4>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-12 col-lg-12">
                            <table>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <a href="#">
                            <button>Button</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-12 col-lg-12 white">
                    <div class="col-md-12 col-lg-12 center">
                        <h1>Sur-mesure</h1>
                        <h4>Sur devis</h4>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-12 col-lg-12">
                            <table>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <a href="#">
                            <button>Button</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row block160">
            <div class="col-12">
                <h4>Notre démarche</h4>
            </div>

            <div class="col-md-12 col-lg-12">
                <div class="row d-flex justify-content-around">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/1.packs-choice.svg') }}" alt="Bootstrap"
                             class="rounded mx-auto d-block svg100">
                        <h5>Vous choisissez</h5>
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit
                            vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet
                            patruelis.</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/2.discuss.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On discute avec vous</h5>
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit
                            vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet
                            patruelis.</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/3.plan.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On planifie avec vous</h5>
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit
                            vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet
                            patruelis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row space">
            <div class="col-md-12 col-lg-12">
                <div class="row d-flex justify-content-around">
                    <div class="col-sm-12 col-md-3 col-lg-3 ">
                        <img src="{{ asset('images/catalog/4.design.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On design</h5>
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit
                            vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet
                            patruelis.</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/5.code.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On développe</h5>
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit
                            vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet
                            patruelis.</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/6.maintient.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On maintient</h5>
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit
                            vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet
                            patruelis.</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center space">
                    <div class="row col-auto margin-auto">
                        <img src="{{ asset('images/catalog/7.checked.svg') }}" class="svg-padding h1">
                        <h4>Vous êtes satisfait</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}