{% extends "base.html.twig" %}
{% block title %}Nos services{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('CSS/catalog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid page-content">
        <header>
            <div class="row justify-content-around margin-auto">
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ asset('images/services.png') }}" class="img-fluid img-round">
                </div>
                <div class="col-xs-12 col-lg-5 justify-content-around">
                    <div class="row col-xs-6">
                        <img src="{{ asset('images/logoH1/blog.svg') }}" class="h1">
                        <h1>Nos services</h1>
                    </div>
                    <div class="row col-xs-6">
                        <h2>Toutes nos prestations sur une seule page !</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Retrouvez tout ce qu’il vous faut pour réaliser vos projets (même les plus fous) ! Et si vous avez la moindre question bien sûr n’hésitez pas. Nous sommes là pour comprendre et pallier à vos besoins.</p>
                    </div>
                </div>
            </div>
        </header>

        <div class="row">
            <div class="row col-12 margin-auto">
                <h4>Nos packs</h4>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-12 col-lg-12 white pack img-round">
                    <div class="col-md-12 col-lg-12 center">
                        <h1>Basic</h1>
                        <h4>1050 €</h4>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-12 col-lg-12">
                            <table>
                                <tr>
                                    <td>- 5 thème au choix</td>
                                </tr>
                                <tr>
                                    <td>- 6 pages</td>
                                </tr>
                                <tr>
                                    <td>- Compatibilité avec tous les supports</td>
                                </tr>
                                <tr>
                                    <td>- Hébergement, nom de domaine et emails</td>
                                </tr>
                                <tr>
                                    <td>- Mentions légales</td>
                                </tr>
                                <tr>
                                    <td>- Maintenance, SAV et sécurité pendant 6 mois</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <a href="#">
                            <button>Button</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-12 col-lg-12 white pack img-round">
                    <div class="col-md-12 col-lg-12 center">
                        <h1>Premium</h1>
                        <h4>1820 €</h4>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-12 col-lg-12">
                            <table>
                                <tr>
                                    <td>- 12 thèmes au choix</td>
                                </tr>
                                <tr>
                                    <td>- 6 pages et un blog</td>
                                </tr>
                                <tr>
                                    <td>- Formulaire de contact</td>
                                </tr>
                                <tr>
                                    <td>- Compatibilité avec tous les supports</td>
                                </tr>
                                <tr>
                                    <td>- Hébergement, nom de domaine et emails</td>
                                </tr>
                                <tr>
                                    <td>- Mentions légales</td>
                                </tr>
                                <tr>
                                    <td>- Maintenance, SAV et sécurité pendant 8 mois</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <a href="#">
                            <button>Button</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-12 col-lg-12 white pack img-round">
                    <div class="col-md-12 col-lg-12 center">
                        <h1>Sur-mesure</h1>
                        <h4>Sur devis</h4>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-12 col-lg-12">
                            <table>
                                <tr>
                                    <td>- Conseils en statégie digitale</td>
                                </tr>
                                <tr>
                                    <td>- Accompagnement vers la transformation digitale</td>
                                </tr>
                                <tr>
                                    <td>- création de votre identité visuelle</td>
                                </tr>
                                <tr>
                                    <td>- Refonte d'un site existant</td>
                                </tr>
                                <tr>
                                    <td>- Référencement naturel et monétisé</td>
                                </tr>
                                <tr>
                                    <td>- Hébergement, nom de domaine et emails</td>
                                </tr>
                                <tr>
                                    <td>- Maintenance</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <a href="#">
                            <button>Button</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row block160">
            <div class="col-12">
                <h4>Notre démarche</h4>
            </div>

            <div class="col-md-12 col-lg-12">
                <div class="row d-flex justify-content-around">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/1.packs-choice.svg') }}" alt="Bootstrap"
                             class="rounded mx-auto d-block svg100">
                        <h5>Vous choisissez</h5>
                        <p>Grâce à nos trois packs, vous avez la possibilité de choisir l’offre qui correspond le mieux à vos besoins. Des prix imbattables qui feront plaisir à votre porte-monnaie !</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/2.discuss.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On vous contacte</h5>
                        <p>Après le choix de votre offre, nous vous appelons dans les meilleurs délais pour faire connaissance et cerner au mieux vos besoins. Dès lors, nous pourrons lancer votre projet !</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/3.plan.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On planifie avec vous</h5>
                        <p>Après une étude de vos besoins, nous planifions avec vous le déroulement de votre projet. Deadlines, réunions, tout y sera pour que vous puissiez vous focaliser uniquement sur le principal : votre métier !</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row space">
            <div class="col-md-12 col-lg-12">
                <div class="row d-flex justify-content-around">
                    <div class="col-sm-12 col-md-3 col-lg-3 ">
                        <img src="{{ asset('images/catalog/4.design.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On conçoit</h5>
                        <p>Notre équipe de designer réalise des modèles ergonomique et moderne. Vous avez des idées ? Nous pouvons les réaliser sur mesure !  </p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/5.code.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On développe</h5>
                        <p>Nous apportons un soin particulier à l'envers du décors : le code. Nous apportons du dynamisme et fiabilité à votre projet ! </p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="{{ asset('images/catalog/6.maintient.svg') }}" alt="Bootstrap" class="rounded mx-auto d-block svg100">
                        <h5>On maintient</h5>
                        <p>Un bon site et un site maintenu. Nous pouvons assurer la mise à jour aussi longtemps que votre confiance en nous perdurera !</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center space">
                    <div class="row col-auto margin-auto">
                        <img src="{{ asset('images/catalog/7.checked.svg') }}" class="svg-padding h1 mt-0">
                        <h4>Vous êtes satisfait</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}