{% extends "base.html.twig" %}

{% block title %}Nous contacter{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('CSS/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid page-content">
        <header>
            <div class="row justify-content-around margin-auto">
                <div class="col-xs-12 col-lg-5 justify-content-around">
                    <div class="row col-xs-6">
                        <img src="{{ asset('images/logoH1/nous_contacter.svg') }}" class="h1">
                        <h1>Nous contacter</h1>
                    </div>
                    <div class="row col-xs-6">
                        <h2>Contactez la team Cocorico Digital !</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Vous avez besoin d’une information, une question à nous poser ou vous souhaitez juste nous laisser un petit mot doux ? Pas de problème, on se lève au chant du coq pour traiter au plus vite votre demande !</p>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ asset('images/contact.jpg') }}" class="img-fluid img-round">
                </div>
            </div>
        </header>

        <div class="row">
            <div class="col-12">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                <div class="form-row d-flex justify-content-around">
                    <div class="col-12 col-md-11">
                        <h4>Vous souhaitez nous contacter ?</h4>
                    </div>
                    <div class="form-group col-sm-12 col-md-5">
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="form-group col-sm-12 col-md-5">
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div class="form-row d-flex justify-content-around">
                    <div class="form-group col-sm-12 col-md-5">
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group col-sm-12 col-md-5">
                        {{ form_widget(form.phoneNumber) }}
                    </div>
                </div>
                <div class="row col-12 col-md-11 p-0 p-md-3">
                    <div class="form-group col-12 col-md-5 ml-md-2 p-0 p-md-3">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    <div class="form-group col-sm-12 col-md-11 p-0">
                        {{ form_widget(form.content) }}
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    <button type="submit">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}