{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('CSS/contact.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid page-content">
        <header>
            <div class="row justify-content-around">
                <div class="col-xs-12 col-lg-5 justify-content-around">
                    <div class="row col-xs-6">
                        <img src="{{ asset('images/logoH1/nous_contacter.svg') }}" class="h1">
                        <h1>Nous contacter</h1>
                    </div>
                    <div class="row col-xs-6">
                        <h2>A Subtitle</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo felis
                            turpis, sit amet rhoncus augue fringilla aliquam. Duis eleifend massa non quam molestie
                            dictum.</p>
                    </div>
                </div>
                <div class="col-lg-5 display-small">
                    <img src="{{ asset('images/home-intro.jpg') }}" class="img-fluid ">
                </div>
            </div>
        </header>

        <div class="row">
            <div class="col-12">
                <div>
                    <h4>Vous souhaitez nous contacter?</h4>
                </div>
                <div>
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}

                    <div class="form-row d-flex justify-content-around">
                        <div class="form-group col-md-5 col-lg-5">
                            {{ form_widget(form.firstname) }}
                        </div>
                        <div class="form-group col-md-5 col-lg-5">
                            {{ form_widget(form.lastname) }}
                        </div>
                    </div>
                    <div class="form-row d-flex justify-content-around">
                        <div class="form-group col-md-5 col-lg-5">
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group col-md-5 col-lg-5">
                            {{ form_widget(form.phoneNumber) }}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="form-group col-md-5 col-lg-5">
                            {{ form_widget(form.title) }}
                        </div>
                        <div class="form-group col-md-5 col-lg-5"></div>
                        <div class="form-group col-md-11 col-lg-11">
                            {{ form_widget(form.content) }}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <button type="submit">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}