{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link href="{{ asset('CSS/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid page-content">
        <header>
            <div class="row justify-content-around block-first margin-auto">
                <div class="col-12 col-lg-6 justify-content-around">
                    <div class="row">
                        <h1>Cocorico Digital</h1>
                    </div>
                    <div class="row">
                        <h2>L'agence web au coeur de vos besoins</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Notre agence, spécialisée dans la réalisation de projets et transformation digitale, est là pour vous accompagner. Notre but est de mettre en place une stratégie adaptée à chacun afin d’améliorer et optimiser sa présence en ligne. Cocorico Digital conçoit des outils dernières générations et exclusivement développés en France.</p>
                    </div>
                    <div class="row justify-content-around">
                        <a href="{{ 'contact' }}">
                            <button class="mt-0">Nous contacter</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{{ asset('images/home-intro.jpg') }}" class="img-fluid img-round">
                </div>
            </div>
        </header>

        <div class="row">
            <div class="row col-12 margin-auto">
                <h4>Nos services</h4>
            </div>
            <div class="row d-flex justify-content-around margin-auto">
                <div class="col-12 col-lg-3">
                    <div class="row justify-content-center">
                        <img src="{{ asset('images/home/1.marketing.svg') }}" class="br" height="100" width="100">
                    </div>
                    <div>
                        <p class="text-center">Nous construisons un plan marketing personnalisé après avoir collecté et analysé votre secteur d'activité. </p>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="row justify-content-center">
                        <img src="{{ asset('images/home/2.design.svg') }}" class="br svg" height="100" width="100">
                    </div>
                    <div>
                        <p class="text-center">Nous apprenons à nous connaitre pour proposer un site visuellement proche de vos valeurs</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="row justify-content-center">
                        <img src="{{ asset('images/home/3.dev.svg') }}" class="br svg" height="100" width="100">
                    </div>
                    <div>
                        <p class="text-center">Nous proposons un ensemble de fonctionnalité pour rapprocher les clients de vos produits ou prestations</p>
                    </div>
                </div>
            </div>
            <div class="row col-12 justify-content-around margin-auto">
                <a href="{{ 'catalogue'}}">
                    <button>Nos services</button>
                </a>
            </div>
        </div>

        <section class="row">
            <div class="row col-12 offset-lg-2 col-lg-8 justify-content-around d-lg-none margin-auto">
                <div class="row col-lg-12">
                    <h4>Nos clients</h4>
                </div>
                <!-- Carousel -->
                <div id="myCarousel" class="carousel slide col-12 d-flex justify-content-center" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner" style=" width:320px">
                        <div class="carousel-item active">
                            <div class="col-12 no-padding shadow-sm p-0 mb-0 bg-white rounded white">
                                <img src="{{ asset('images/home/lenormant_home.jpg') }}" class="img-fluid" alt="">
                                <p>Création site</p>
                                <h6>Groupe Lenormant</h6>
                                <p>Nous avons participé à la visibilité digital d'un groupe familiale</p>
                                <a href={{ 'project/project_lenormant' }} class="link1">Voir le projet</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-12 no-padding shadow-sm p-0 mb-0 bg-white rounded white">
                                <img src="{{ asset('images/home/liberer-delivrer-hypnose.jpg') }}" class="img-fluid" alt="">
                                <p>Création site</p>
                                <h6>Libérer Délivrer Hypnose</h6>
                                <p>L'aventure de Christophaine Idrissi, l'aternative par l'hypnose</p>
                                <a href="{{ 'project/project_liberer-delivrer-hypnose' }}" class="link1">Voir le projet</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-12 no-padding shadow-sm p-0 mb-0 bg-white rounded white">
                                <img src="{{ asset('images/home/projet3.jpg') }}" class="img-fluid" alt="" height="180" width="320">
                                <p>Type de projet</p>
                                <h6>Titre h6</h6>
                                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                                <a href="#" class="link1">Voir le projet</a>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center home-customers block160 d-none d-lg-flex">
                <div class="row col-12 d-none d-lg-block">
                    <h4>Nos clients</h4>
                </div>
                <div class="col-lg-4 no-padding shadow-sm p-0 mb-0 bg-white rounded white d-none d-lg-block">
                    <img src="{{ asset('images/home/lenormant_home.jpg') }}" class="img-fluid" alt="">
                    <p>Création site</p>
                    <h6>Groupe Lenormant</h6>
                    <p>Nous avons participé à la visibilité digital d'un groupe familiale</p>
                    <a href={{ 'project/project_lenormant' }} class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-4 no-padding shadow-sm p-0 mb-0 bg-white rounded white d-none d-lg-block">
                    <img src="{{ asset('images/home/liberer-delivrer-hypnose.jpg') }}" class="img-fluid" alt="">
                    <p>Création site</p>
                    <h6>Libérer Délivrer Hypnose</h6>
                    <p>L'aventure de Christophaine Idrissi, l'alternative par l'hypnose</p>
                    <a href="{{ 'project/project_liberer-delivrer-hypnose' }}" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-4 no-padding shadow-sm p-0 mb-0 bg-white rounded white d-none d-lg-block">
                    <img src="{{ asset('images/home/projet2.jpg') }}" class="img-fluid" alt="">
                    <p>Création site</p>
                    <h6>Elektropop</h6>
                    <p>Pour sa première édition, le festival Elektropop voit grand !</p>
                    <a href="{{ 'project/project_elektropop' }}" class="link1">Voir le projet</a>
                </div>
            </div>
            <div class="row col-12 col-lg-12 justify-content-around margin-auto">
                <a href="#">
                    <button>Projets réalisés</button>
                </a>
            </div>
        </section>
    </div>
{% endblock %}