{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid page-content">
        <header>
            <div class="row justify-content-around block-first margin-auto">
                <div class="col-xs-12 col-lg-4 justify-content-around">
                    <div class="row">
                        <img src="{{ asset('images/logoH1/a_propos.svg') }}" class="h1">
                        <h1>A propos</h1>
                    </div>
                    <div class="row">
                        <h2>Qui sommes-nous</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Cocorico digital c’est avant tout une seule et même ambition : répondre à vos besoins dans les meilleurs délais et de la manière la plus adaptée ! Après tout, ne dit-on pas que notre agence est “au coeur de vos besoins” ?</p>
                    </div>
                    <div class="row justify-content-around">
                        <a>
                            <button class="mt-0">Button</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{{ asset('images/propos.png') }}" class="img-fluid img-round">
                </div>
            </div>
        </header>

        <div class="row">
            <div class="offset-1 col-10 offset-lg-0 col-lg-5">
                <h4>L'équipe</h4>
                <div class="row justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Delphine</p>
                        <p>Développeuse Full-stack</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right ">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Ronan</p>
                        <p>Directeur artistique</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Benoit</p>
                        <p>Développeur Back-end</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid  ronde">
                    </div>
                    <div class="col-4">
                        <p>Naïma</p>
                        <p>Directrice Marketing</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Noémie</p>
                        <p>UX / UI Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-0 col-lg-7">
                <h4 class="d-none d-lg-inline-flex">Titre</h4>
                <p class="d-none d-lg-inline-flex">L’agence Cocorico digital est née d’un constat : seul 66 % des TPE/PME françaises ont un site internet. C’est pourquoi nous aidons aujourd’hui les professionnels à être visible sur internet en alliant nos compétences. Développement, design, marketing : voici la recette magique pour répondre à vos besoins ! </p>
                <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid about d-none d-lg-inline-flex" id="left">
                <p class="d-none d-lg-inline-flex">Notre équipe complémentaire vous accompagne tout au long de votre projet et surtout : vous écoute. En plus de faire du 100% français (aucun service n’est externalisé), nous misons tout sur la proximité avec le client. Chez Cocorico digital, nous prenons le temps de vous écouter, de vous comprendre et nous vous proposons une solution sans perdre de vue la dimension humaine.
                    100% transparent, 100% français. N’attendez plus que les poules aient des dents pour réaliser vos projets (même les plus fous) !
                </p>
                <div class="row justify-content-center d-none d-lg-inline-flex">
                    <button>Button</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}