{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid page-content">
        <header>
            <div class="row justify-content-around block-first margin-auto">
                <div class="col-xs-12 col-lg-4 justify-content-around">
                    <div class="row">
                        <img src="{{ asset('images/logoH1/a_propos.svg') }}" class="h1">
                        <h1>A propos</h1>
                    </div>
                    <div class="row">
                        <h2>A subtitle</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo felis
                            turpis, sit amet rhoncus augue fringilla aliquam. Duis eleifend massa non quam molestie
                            dictum.</p>
                    </div>
                    <div class="row justify-content-around">
                        <a>
                            <button class="mt-0">Button</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{{ asset('images/home-intro.jpg') }}" class="img-fluid img-round">
                </div>
            </div>
        </header>

        <div class="row">
            <div class="offset-1 col-10 offset-lg-0 col-lg-5">
                <h4>L'équipe</h4>
                <div class="row justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Delphine</p>
                        <p>Dev</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right ">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Ronan</p>
                        <p>Design</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Benoit</p>
                        <p>Dev</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid  ronde">
                    </div>
                    <div class="col-4">
                        <p>Naïma</p>
                        <p>Market</p>
                    </div>
                </div>
                <div class="row space justify-content-left justify-content-lg-center">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-4 text-right">
                        <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid ronde">
                    </div>
                    <div class="col-4">
                        <p>Noémie</p>
                        <p>Design</p>
                    </div>
                </div>
            </div>
            <div class="col-0 col-lg-7">
                <h4 class="d-none d-lg-inline-flex">Titre</h4>
                <p class="d-none d-lg-inline-flex">Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                    opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu
                    adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis,
                    siquid per inprudentiam gestum est remissurus ut mitis et clemens, participemque eum suae
                    maiestatis adscisceret, futurum laborum quoque socium, quos Arctoae provinciae diu fessae
                    poscebant.</p>
                <img src="{{ asset('images/home-intro.jpg') }}" alt="Bootstrap" class="img-fluid about d-none d-lg-inline-flex" id="left">
                <p class="d-none d-lg-inline-flex">Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                    opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu
                    adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis,
                    siquid per inprudentiam gestum est remissurus ut mitis et clemens, participemque eum suae
                    maiestatis adscisceret, futurum laborum quoque socium, quos Arctoae provinciae diu fessae
                    poscebant.</p>

                <p class="d-none d-lg-inline-flex">Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum
                    ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde
                    iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur,
                    non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate
                    gregariis militibus discrepantes opposita cuncta superasse virtute.</p>
                <div class="row justify-content-center d-none d-lg-inline-flex">
                    <button>Button</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}