{% extends "base.html.twig" %}

{% block title %}Nos clients{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('CSS/references.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid  page-content">
        <header>
            <div class="row justify-content-around margin-auto">
                <div class="col-xs-12 col-lg-5 justify-content-around">
                    <div class="row col-xs-6">
                        <img src="{{ asset('images/logoH1/nos_clients.svg') }}" class="h1">
                        <h1>Nos clients</h1>
                    </div>
                    <div class="row col-xs-6">
                        <h2>Historique et cas pratiques de nos clients</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Découvrez tous les projets réalisés par l’agence Cocorico digital ! Ils nous ont fait confiance, pourquoi pas vous ?</p>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ asset('images/clients.jpg') }}" class="img-fluid img-round">
                </div>
            </div>
        </header>

        <div class="row block">
            <div class="row d-flex justify-content-around display-small">
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal thumbnail">
                    <img src="{{ asset('images/home/lenormant_home.jpg') }}"  class="img-fluid" alt="" height="180" width="100%">
                    <p>Création site</p>
                    <h6>Groupe Lenormant</h6>
                    <p>Nous avons participé à la visibilité digital d'un groupe familiale</p>
                    <a href={{ 'project/project_lenormant' }} class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal thumbnail">
                    <img src="{{ asset('images/home/liberer-delivrer-hypnose.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Création site</p>
                    <h6>Libérer Délivrer Hypnose</h6>
                    <p>L'aventure de Christophaine Idrissi, l'alternative par l'hypnose</p>
                    <a href="{{ 'project/project_liberer-delivrer-hypnose' }}" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal">
                    <img src="{{ asset('images/home/projet2.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Création site</p>
                    <h6>Elektropop</h6>
                    <p>Pour sa première édition, le festival Elektropop voit grand !</p>
                    <a href="{{ 'project/project_elektropop' }}" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal">
                    <img src="{{ asset('images/home/marc-clara.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Création site</p>
                    <h6>Marc et Clara</h6>
                    <p>Un couple qui souhaite bousculer l'éducation secondaire !</p>
                    <a href="{{ 'project/project_marc-clara' }}" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal">
                    <img src="{{ asset('images/home/jean-forteroche.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Refonte site</p>
                    <h6>Jean Forteroche</h6>
                    <p>Un écrivain qui souhaite partager sa passion du voyage !</p>
                    <a href="{{ 'project/project_jean-forteroche' }}" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal">
                    <img src="{{ asset('images/home/projet3.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Refonte site</p>
                    <h6>Musée du Louvre</h6>
                    <p>Permettre la réservation en ligne pour limiter vos files d'attente !</p>
                    <a href="{{ 'project/project_louvre' }}" class="link1">Voir le projet</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}