{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('CSS/references.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid  page-content">
        <header>
            <div class="row justify-content-around margin-auto">
                <div class="col-xs-12 col-lg-5 justify-content-around">
                    <div class="row col-xs-6">
                        <img src="{{ asset('images/logoH1/nos_clients.svg') }}" class="h1">
                        <h1>Nos clients</h1>
                    </div>
                    <div class="row col-xs-6">
                        <h2>Historique et cas pratiques de nos clients</h2>
                    </div>
                    <div class="row">
                        <p class="envaleur">Découvrez tous les projets réalisés par l’agence Cocorico digital ! Ils nous ont fait confiance, pourquoi pas vous ?</p>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ asset('images/clients.png') }}" class="img-fluid img-round">
                </div>
            </div>
        </header>

        <div class="row block">
            <div class="row d-flex justify-content-around display-small">
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal thumbnail">
                    <img src="{{ asset('images/home/projet1.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Type de projet</p>
                    <h6>Titre h6</h6>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <a href="#" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal thumbnail">
                    <img src="{{ asset('images/home/projet2.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Type de projet</p>
                    <h6>Titre h6</h6>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <a href="#" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal">
                    <img src="{{ asset('images/home/projet3.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Type de projet</p>
                    <h6>Titre h6</h6>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <a href="#" class="link1">Voir le projet</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-10 no-padding shadow-sm p-0 mb-0 bg-white rounded white block-decal">
                    <img src="{{ asset('images/home/projet3.jpg') }}" class="img-fluid" alt="" height="180" width="100%">
                    <p>Type de projet</p>
                    <h6>Titre h6</h6>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <a href="#" class="link1">Voir le projet</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}