<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Bonjour !</h1>
    <p>Vous avez un nouveau message envoyé depuis votre site "Cocorico Digital"</p>
    <p>Le message a été envoyé de la part de {{ contact.firstname }} {{ contact.lastname }}, le voici :</p>
    <h3>"{{ contact.title }}</h3>
    <p>{{ contact.content }}"</p>
    <br>
    <p>Vous pouvez recontacter cette personne par téléphone au {{ contact.phoneNumber }}, ou par mail
        à {{ contact.email }}.</p>
</div>
</body>
</html>